.card-container{
    display: flex;
    justify-content: space-around;
}

.btn-styles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.img-fit{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.edit-card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text-edit{
    flex-grow: 1;
}