<br><br><br>
<div class="container-fluid">
    <br>
    <h1 class="text-center ">Art Gallery</h1>
    <br>
    @for (art of artifacts; track art) {
        <div class="card-container container-fluid d-flex ">
            @for (item of art; track item.title) {
                <div class="card" style="width: 18rem;">
                    <img src={{item.img}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.desc}}</p>
                        <a href="#" class="btn btn-warning">Read more</a>
                    </div>
                </div>
            }
        </div>
        <br>
    } 
</div>