<!-- <div class="index-cover"> -->
    <div class="hero" id="hero-area">
        <div class="content">
            <h3>Welcome to</h3>
            <h1 class="name">Art <br> <span>Corner</span></h1>
            <p>A <strong> Responsive Portfolio</strong> Web Application</p>
    
            <div class="content-section">
                <button class="btnExplore">Explore Art Gallery</button>
                <div class="social-icons">
                    <i class="bi bi-github"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-twitter-x"></i>
                </div>
            </div>
        </div>
        <div class="hero-images">
            <img src="./img/cover-rmbg.png" alt="Cover Image">
        </div>
    </div>
<!-- </div> -->