<div>
  <nav class="navbar fixed-top bg-color navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./icon/logo-navbar2.png" alt="" class="img-navbar-edit"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" [ngClass]="{'active':pages.pageNo === 1}" href="#" (click)="OpenPage(1)">Home</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" [ngClass]="{'active':pages.pageNo === 2}" href="#" (click)="OpenPage(2)">Explore</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" [ngClass]="{'active':pages.pageNo === 3}" href="#" (click)="OpenPage(3)">Favourites</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" [ngClass]="{'active':pages.pageNo === 4}" href="#" (click)="OpenPage(4)">Community</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link btn btn-outline-warning" aria-current="page" [ngClass]="{'active':pages.pageNo === 5}" href="#" (click)="OpenPage(5)">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search" (submit)="GetResults()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <nav class="navbar bg-color navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./icon/logo-navbar2.png" alt="" class="img-navbar-edit"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Favourites">Favourites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Community">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="About">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid" style="padding: 0;">
    <div *ngIf="pages.pageNo === 1">
      <app-index-page></app-index-page>
    </div>
    <div *ngIf="pages.pageNo === 2 || pages.pageNo === 6">
      <app-explore-components [pages]="getPages()"></app-explore-components>
    </div>
    <div *ngIf="pages.pageNo === 3">
      <app-accessibility-features [pages]="getPages()"></app-accessibility-features>
    </div>
    <div *ngIf="pages.pageNo === 4">
      <app-community-forum></app-community-forum>
    </div>
    <div *ngIf="pages.pageNo === 5">
      <app-feedback-about-us></app-feedback-about-us>
    </div>
  </div>
</div>